

.nav-mobile {
    display: none;
}

.nav {
    display: flex;
}

.nav, .nav-mobile {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    background: #444;
    color: white;
    z-index: 100;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.spacer {
    margin-left: auto;
}

.nav-btn {
    outline: none;
    height: 100%;
    padding: 10px;
    background-color: #444;
    color: white;
    transition: all 0.2s;
    border: none;
    text-transform: uppercase;
    font-size: 12pt;
    padding: 20px;
}

.nav-btn:hover {
    background-color: #555;
}

.nav-btn:active {
    background-color: #666;
}

@media (max-width: 800px) {
    .nav {display: none;}
    .nav-mobile {display: flex;} 
}

.sidenav {
    position: fixed;
    left: 0px;
    top: 0px;
    flex-direction: column;
    margin-top: 60px;
    background: #444;
    width: 100vw;
    transform: translateY(0px);
    transition: all 0.2s ease-in-out;
    z-index: 99;
}

.sidenav .nav-btn {
    width:100%;
}

.show {
    display: flex;
}

.hidden {
    position: absolute;
    transform: translateY(-300px);
}