.map {
    margin: auto;
    margin-top: 20px;
    position: relative;
    width: 90%;
    height: 90%;
    border-radius: 15px;
    background: lightgray;
    cursor: crosshair;
    animation: cursor 500ms;
}