body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
    outline: none;
    padding: 10px;
    background-color: #444;
    color: white;
    transition: all 0.2s;
    border: none;
    font-size: 12pt;
}

button:hover {
    background-color: #555;
}

button:active {
    background-color: #666;
}

h1, h2, h3 {
    margin-top: 0px;
}

