.calculator {
    padding: 20px;
    background-color: lightgray;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}

.number-btn, .func-btn, .eq-btn {
    padding: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.controls {
    margin: auto;
}

.display {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

.screen {
    margin-bottom: 10px;
}
